$primaryBackgroundColour: #090c12;
$primaryTextColour: #cdcdcd;
$primaryColour: #192335;
$highlightPrimaryColour: #020D1A;
$altColour: #d75000;
$muteColour: #252a34;

h1, h2, h3, h4, h5, h6, body, p, span {
	color: $primaryTextColour;
}

html, body {
	height:100%;
	background-color: $primaryBackgroundColour;	
}

.navbar, #navbar, .navbar-urf {
	height: 85px;
	background-color: $primaryColour;
}
.navbar {
	box-shadow: inset 0 0 33px #000000;
}
.navbar.navbar-hide {
	display:none;
}

.urf-title {
	text-align:center;
	h1.logo {
		color: #d8dd02;
		text-shadow: 2px 2px 0px rgb(0, 0, 0);
		font-family: 'Galdeano', sans-serif;
		font-size:79px;
		line-height:0.7;
		word-spacing:-5px;
		letter-spacing:-1px;
		span {
			font-size:12px;
		}
	}
	margin-bottom:34px;
}
.urf-main {
	margin-top:100px;
}
.urf-container {
	background-color: $highlightPrimaryColour;
	border-radius:6.77px;
	box-shadow: 0px 0px 27px 0px darken($highlightPrimaryColour, 85);
}
.urf-form-login {
	padding:17px;
}

.play-container {
	width:119px;
	margin: 0px auto;
	padding:10px 0px 0px 0px;
	.btn-play {
		padding: 19px 38px;
		background: $altColour;
		background: linear-gradient(0deg, darken($altColour, 15) 30%, $altColour 70%);
		color: white;
		text-align:center;
		font-size: 21px;
		line-height: 1;
		border-color: darken($altColour, 15);
		border-radius: 7px;
		text-shadow: 1px 1px 0px rgba(30, 30, 30, 0.8);
	}
	.btn-play:hover, .btn-play:active {
		cursor: pointer;
		background: linear-gradient(0deg, darken($altColour, 17) 30%, darken($altColour, 5) 70%);
	}
}

.card {
	position:relative;
	width:340px;
	height:520px;
	box-shadow:         inset 0 0 33px #000000;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-color: $primaryBackgroundColour;
	.stats {
		color:white;
		width:100%;
		height:230px;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color:rgba(25, 25, 25, 0.75);
		box-shadow: inset 0 0 33px #000000;
	}
}
