<div class="container menu-container urf-main urf-container forgive-nav urf-game">
	<div ng-if="!game.current" class="row urf-lobby">
		<div class="col-md-2 col-md-offset-5">
			<h4>Finding game...</h4>
		</div>
	</div>
	<div ng-if="game.current" class="row urf-lobby">
		<div class="col-md-6 urf-game-map">
			<div class="map-container">
				<urf-map-entity type="nexus" team="blue"></urf-map-entity>
				<urf-map-entity type="nexus" team="red"></urf-map-entity>
				<!--
				<urf-map-entity type="turret" team="blue" layer="inhibitor" lane="top"></urf-map-entity>
				<urf-map-entity type="turret" team="blue" layer="inhibitor" lane="middle"></urf-map-entity>
				<urf-map-entity type="turret" team="blue" layer="inhibitor" lane="bottom"></urf-map-entity>
				<urf-map-entity type="turret" team="red" layer="inhibitor" lane="top"></urf-map-entity>
				<urf-map-entity type="turret" team="red" layer="inhibitor" lane="middle"></urf-map-entity>
				<urf-map-entity type="turret" team="red" layer="inhibitor" lane="bottom"></urf-map-entity>

				<urf-map-entity type="turret" team="blue" layer="inner" lane="top"></urf-map-entity>
				<urf-map-entity type="turret" team="blue" layer="inner" lane="middle"></urf-map-entity>
				<urf-map-entity type="turret" team="blue" layer="inner" lane="bottom"></urf-map-entity>
				<urf-map-entity type="turret" team="red" layer="inner" lane="top"></urf-map-entity>
				<urf-map-entity type="turret" team="red" layer="inner" lane="middle"></urf-map-entity>
				<urf-map-entity type="turret" team="red" layer="inner" lane="bottom"></urf-map-entity>

				<urf-map-entity type="turret" team="blue" layer="outer" lane="top"></urf-map-entity>
				<urf-map-entity type="turret" team="blue" layer="outer" lane="middle"></urf-map-entity>
				<urf-map-entity type="turret" team="blue" layer="outer" lane="bottom"></urf-map-entity>
				<urf-map-entity type="turret" team="red" layer="outer" lane="top"></urf-map-entity>
				<urf-map-entity type="turret" team="red" layer="outer" lane="middle"></urf-map-entity>
				<urf-map-entity type="turret" team="red" layer="outer" lane="bottom"></urf-map-entity> -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 urf-game-message">
					<div class="well">	
						<div class="message-container">
							<p ng-repeat="message in game.messages" class="alert" ng-class="{danger: message.type == 'negative', success: message.type == 'success'}"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<table ng-if="cardPointer">
						<tr ng-repeat="(key, stat) cardPointer.stats" ng-click="setStatPointer(key)">
							<td>{{key}}</td>
							<td>{{stat}}</td>
						</tr>
					</table>
				</div>
				<div class="col-md-8 urf-game-deck">
					<div class="well">
						<div class="deck-container">
							<urf-card ng-repeat="card in game.deck" ng-click="setPointer(card)" ng-class="{'deck-select': cardPointer._id == card._id}" tile="true" card="card"></urf-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
