<div class="container-fluid urf-main">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 urf-title">
			<h1 class="logo">Cards <span>of</span><br/>Legends</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 urf-container">
			<form role="form" name="loginForm" class="urf-form-login" ng-submit="logon()">
				<div class="form-group">
					<label for="username">Username</label>
					<input required ng-model="loginObj.username" name="username" class="form-control" type="text" id="username" />
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input required ng-model="loginObj.password" type="password" name="password" class="form-control" id="password"/>	
				</div>
				<div class="form-group" style="float:right;">
					<button class="btn btn-play btn-lg">Login or Create Account</button>
				</div>
			</form>
		</div>
	</div>
</div>
