<div class="container menu-container urf-main urf-container">
	<div class="row urf-lobby">
		<div class="col-md-8 col-md-offset-2">
			<!-- <urf-card card="" render="square"></urf-card> -->
			<!-- <urf-card card="" render="square"></urf-card> -->
			<!-- <urf-card card="" render="square"></urf-card> -->
			<!-- <urf-card card="" render="square"></urf-card> -->
			<!-- <urf-card card="" render="square"></urf-card> -->
			<!-- <urf-card card="" render="square"></urf-card> -->
			<!-- <urf-card card="" render="square"></urf-card> -->
			<!-- <urf-card card="" render="square"></urf-card> -->
			<!-- <urf-card card="" render="square"></urf-card> -->
		</div>
		<div class="col-md-2">
			<form role="form" class="urf-lobby-filter" novalidate>
				<div class="form-group urf-form-filter">
					<input name="filter" class="form-control" type="text"/>	
				</div>
			</form>
			<table class="table table-slim filter">
				<thead class="hide">
					<tr>
						<td>&nsbp;</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<!-- <urf-card card="" render="thin"></urf-card> -->
							<!-- <urf-card card="" render="thin"></urf-card> -->
							<!-- <urf-card card="" render="thin"></urf-card> -->
							<!-- <urf-card card="" render="thin"></urf-card> -->
							<!-- <urf-card card="" render="thin"></urf-card> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
