<div class="container-fluid menu-container urf-main urf-container">
	<div class="row urf-lobby">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-5">
					<form role="form" novalidate>
						<div class="form-group urf-form-filter">
							<input name="filter" class="form-control" type="text" ng-model="textFilter" placeholder="Filter Champions..."/>	
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="well">
						<urf-card ng-repeat="card in cards | filter:textFilter" ng-click="addToDeck(card)" card="card" tile="true"></urf-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
