<div class="container menu-container urf-main urf-container">
	<div class="row urf-lobby">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-5">
					<form role="form" novalidate>
						<div class="form-group urf-form-filter">
							<input name="filter" class="form-control" type="text" placeholder="Filter Champions..."/>	
						</div>
					</form>
				</div>
			</div>
			<div class="row urf-card-bank">
				<div class="col-md-12">
					<div class="well">
						<!--				<urf-card card="card" render="square"></urf-card>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
